version: '3'
services:
  softether-vpnsrv:
    image: cenk1cenk2/softether-vpnsrv
    env_file: .env
    ports:
      - 1443:1443/tcp
      - 992:992/tcp
      - 5555:5555/tcp
      - 1194:1194/udp
      - 500:500/udp
      - 4500:4500/udp
      - 1701:1701/tcp
    volumes:
      # Configuration Files
      - ./cfg:/cfg
      # Log files
      - ./logs/packet_log:/etc/vpnserver/packet_log
      - ./logs/security_log:/etc/vpnserver/security_log
      - ./logs/server_log:/etc/vpnserver/server_log
    network_mode: "bridge"
    privileged: true